.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-name {
  text-decoration: none;
  font-family: "Gluten",
    serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  color: $brand-color;

  &:hover {
    cursor: pointer;
  }
}

.umbrella {
  height: 30px;
  fill: $brand-color;
}

