.logo-name {
  font-family: "Gluten",
    serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  color: $brand-red;
  line-height: 0;
  transition-property: color;
  transition-duration: 0.5s;

  &:hover {
    color: $brand-darkred;
  }
}

.umbrella {
  height: 30px;
  fill: $brand-red;
  margin-bottom: 5px;
  transition-property: fill;
  transition-duration: 0.5s;

  &:hover {
    fill: $brand-darkred;
  }
}

.dropdown-item:hover {
  color: $brand-white;
  background-color: $brand-red;
}

.user {
  position: absolute;
  right: 68px;
  top: 4px;
  border: solid thin $brand-red;
  border-radius: 5px 0 0 5px;
  padding: 2px 4px;
  font-size: smaller;
}

@media (max-width: 576px) {
  .logo-name {
    font-size: 30px;
  }

  .umbrella {
    height: 25px;
  }
}