.avatar-container {
  max-width: fit-content;
}

.avatar {
  max-width: 7em;
}

.nav-tabs .nav-link {
  padding: 3px 5px;
}

.nav-tabs .nav-link.active {
  background-color: #FFD7D7;
  border-color: transparent;
}