@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.fa {
  color: lightblue
}

.review-checked {
  color: orange;
}

.rating {
  position: absolute;
  left: 25px;
  top: 10px;
}