@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

$brand-red: #C90000;
$brand-darkred: #930F0F;
$brand-gray: #F1EFEF;
$brand-black: #000000;
$brand-white: #FFFFFF;
$primary: #C90000;