.list-image {
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: scale-down;
  background-color: #f3f3f3;
  border-radius: 7px;
}

.view-button-container {
  display: flex;
  justify-content: end;
  align-self: center;
}

.view-button {
  color: $brand-red;
  background: #FFD6D6;
  text-decoration: none;
  padding: 5px 25px;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: 0.5s;

  &:hover {
    background-color: #FF9292;
  }
}

.container {
  max-width: 100%;
}